.subscribe-button{
        background-color: red;
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
        transition: opacity 0.15s ease-in-out;
}

.subscribe-button:hover{
    opacity: 0.7;
}
.subscribe-button:active{
    background-color: black;
}

.join-button{
    background-color: white;
    border-color: rgb(0, 183, 255);
    border-style: solid;
    border-width: 1px;
    color: rgb(0, 183, 255);;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.15s, color 0.15s ease-in-out;
    }

    .join-button:hover{
        background-color: rgb(41, 118, 215);
        color: white;
    }

    .join-button:active{
        opacity: 0.7;
    }

    .tweet-button{
        background-color: rgb(16, 124, 231);
        color: white;
        border: none;
        padding: 10px 20px;
        margin-left: 10px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        transition: opacity 0.15s ease-in-out;
    }

    .tweet-button:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }

    .tweet-button:active{
        background-color: rgb(0, 102, 255);
        color: white;
    }